<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Chat}}</title>
</head>
<body>
  <div class="wrapper">
    <div class="login">
      <div class="login__form">
        <p class="login__form-title">Авторизация</p>
        <input type="text" class="login__name" placeholder="Введите имя" data-role="login-input">
        <input type="text" class="login__nickName" placeholder="Введите ник" data-role="login-input">
        <button class="login__button" data-role="login-button">Войти</button>
      </div>
      <div class="login__error">
        <p class="login__error-content">Заполните все поля</p>
        <button class="close-button">Закрыть</button>
      </div>
    </div>
    <div class="chat">
      <div class="chat__users">
        <div class="chat__users-header">
          <div class="chat__users-user">
            <div class="chat__users-photo">
              <img src="placeholder-man.png" class="avatar" id="user_avatar" alt="Фото пользователя">
              <a class="chat__users-link" data-role="add-photo">Загрузить</a>
            </div>
            <h1 class="chat__users-name"></h1>
          </div>
          <p class="chat__users-title">Пользователи в сети (<span class="chat__users-number"></span>):</p>
        </div>
        <ul class="chat__users-list">
    
        </ul>
      </div>
      <div class="chat__messages">
        <div class="chat__messages-screen">
          
        </div>
        <div class="chat__messages-write">
          <input type="text" class="chat__messages-new">
          <button class="chat__messages-button">Отправить</button>
        </div>
      </div>
      <div class="photo-upload" data-role="upload-form">
        <h1 class="photo-upload__title">Загрузка фото</h1>
        <img src="./placeholder-man.png" alt="Фото пользователя" class="avatar avatar--big" id="upload-photo">
        <label for="input" class="label-box">
          <input type="file" id="input" name="file" class="photo-upload__input" data-role="choose-button"></input>
          <div class="chat__users-link chat__users-link--main">Выбрать</div>
        </label>
        <button class="button" data-role="upload-button">Загрузить</button>
        <button class="button" data-role="cancel-button">Отмена</button>
      </div>
    </div>
  </div>
</body>
</html>